{
    "openapi": "3.0.0",
    "info": {
        "title": "Locais - API V3",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://tstapi.buonny.com.br/api/v3/",
            "description": "Homologação"
        },
        {
            "url": "http://localhost:8088/api/v3/",
            "description": "Local"
        },
        {
            "url": "https://buonny-mock-api-v3.herokuapp.com/",
            "description": "Mock Server"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Cria Token para transitar api",
                "description": "Cria Token para transitar api",
                "operationId": "criaToken",
                "requestBody": {
                    "description": "Dados para gerar token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/enderecos/geolocalizacao/busca_xy": {
            "post": {
                "tags": [
                    "geolocalizacao"
                ],
                "summary": "Recupera a Latitude / Longitude de um determinado endereço",
                "description": "Recupera a Latitude e Longitude de um determinado endereço",
                "operationId": "GeolocalizacaoBuscaXY",
                "requestBody": {
                    "description": "Dados do endereço a ser pesquisado",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "endereco": {
                                        "type": "string"
                                    },
                                    "numero": {
                                        "type": "string"
                                    },
                                    "bairro": {
                                        "type": "string"
                                    },
                                    "cep": {
                                        "type": "string"
                                    },
                                    "cidade": {
                                        "properties": {
                                            "nome": {
                                                "type": "string"
                                            },
                                            "estado": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retorna array com posição do endereço",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "getXYResult": {
                                                    "properties": {
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/enderecos/{id}": {
            "get": {
                "tags": [
                    "enderecos"
                ],
                "summary": "Recupera a Latitude / Longitude de um determinado endereço por codigo",
                "description": "Recupera a Latitude e Longitude de um determinado endereço codigo",
                "operationId": "EnderecoBuscaXY",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do Endereço para Busca",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com posição do endereço",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "getXYResult": {
                                                    "properties": {
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/endereco_regiao": {
            "get": {
                "tags": [
                    "enderecos_regioes"
                ],
                "summary": "Buscar endereço região",
                "description": "Buscar endereço região para listagem",
                "operationId": "BuscaEnderecoRegiao",
                "responses": {
                    "200": {
                        "description": "Retorna array com endereço região",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "endereco_regiao": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EnderecosRegioesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/bandeiras": {
            "get": {
                "tags": [
                    "bandeiras"
                ],
                "summary": "Busca bandeiras",
                "description": "Busca bandeiras para listagem",
                "operationId": "buscaTodasBandeiras",
                "parameters": [
                    {
                        "name": "codigo_cliente",
                        "in": "query",
                        "description": "Código cliente para busca de bandeiras",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "band_descricao",
                        "in": "query",
                        "description": "Descrição para busca de bandeiras",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página a buscar",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com bandeiras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeiras": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "bandeiras"
                ],
                "summary": "Salva bandeira no banco",
                "description": "Salva bandeira no Banco",
                "operationId": "salvaUmabandeira",
                "requestBody": {
                    "description": "Dados para salvar bandeira",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "band_descricao": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "band_pjur_pess_oras_codigo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/bandeiras/{id}": {
            "get": {
                "tags": [
                    "bandeiras"
                ],
                "summary": "Busca bandeira especifica",
                "description": "Busca dados de uma bandeira",
                "operationId": "buscaUmaBandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca da região",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna região especifica",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "bandeiras"
                ],
                "summary": "Edita bandeira no banco",
                "description": "Edita bandeira no Banco",
                "operationId": "editaUmabandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da bandeira que deseja fazer edição",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar bandeira",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "band_descricao": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "bandeiras"
                ],
                "summary": "Exclui bandeira no banco",
                "description": "Exclui bandeira no Banco",
                "operationId": "excluiUmaBandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da bandeira que deseja excluir",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/cidade": {
            "get": {
                "tags": [
                    "cidades"
                ],
                "summary": "Busca de Cidades",
                "description": "Busca Cidades para listagem",
                "operationId": "buscaCidade",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CidadeReq_esta_codigo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com Cidades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cidade": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CidadeResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/endereco": {
            "get": {
                "tags": [
                    "enderecos"
                ],
                "summary": "Busca de Enderecos por Cep",
                "description": "Busca Enderecos para listagem",
                "operationId": "buscaEndereco",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/EnderecoReq_cep"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com enderecos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "endereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EnderecoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/estado": {
            "get": {
                "tags": [
                    "estados"
                ],
                "summary": "Busca de Estados",
                "description": "Busca Estados para listagem",
                "operationId": "buscaEstado",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/EstadoReq_pais_codigo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com Estados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "estado": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EstadoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/referencia": {
            "get": {
                "tags": [
                    "alvos"
                ],
                "summary": "[MOCK SERVER] Busca de Referencia",
                "description": "Busca referencias para listagem",
                "operationId": "BuscaTodasReferencias",
                "parameters": [
                    {
                        "name": "codigo_cliente",
                        "in": "query",
                        "description": "Código cliente para busca de motivos atraso",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página a buscar",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com referencias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ReferenciaResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "alvos"
                ],
                "summary": "[MOCK SERVER] Inclusão de uma referencia",
                "description": "Inclusão de uma referencia",
                "operationId": "inclusaoUmaReferencia",
                "requestBody": {
                    "description": "Dados para salvar uma referencia",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refe_descricao": {
                                        "type": "string"
                                    },
                                    "codigo_cliente": {
                                        "type": "integer"
                                    },
                                    "refe_esta_codigo": {
                                        "type": "integer"
                                    },
                                    "refe_cida_codigo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ReferenciaResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/referencia/{id}": {
            "get": {
                "tags": [
                    "alvos"
                ],
                "summary": "[MOCK SERVER] Busca de uma referencia específica",
                "description": "Busca de uma referencia específica",
                "operationId": "buscaUmaReferencia",
                "parameters": [
                    {
                        "name": "refe_codigo",
                        "in": "query",
                        "description": "Código da referencia",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ReferenciaResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "alvos"
                ],
                "summary": "[MOCK SERVER] Edita uma referencia",
                "description": "Edita uma referencia",
                "operationId": "editaUmaReferencia",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da referencia que vai ser editada",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar a referencia",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refe_descricao": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ReferenciaResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/regioes": {
            "get": {
                "tags": [
                    "regioes"
                ],
                "summary": "Busca Regiões",
                "description": "Busca regiões para listagem",
                "operationId": "buscaTodasRegiões",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/RegioesReq_codigo_cliente"
                    },
                    {
                        "$ref": "#/components/parameters/RegioesReq_descricao"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com regiões",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "regioes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/RegioesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "regioes"
                ],
                "summary": "Salva região no banco",
                "description": "Salva Região no Banco",
                "operationId": "salvaUmaRegião",
                "requestBody": {
                    "description": "Dados para salvar região",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "regi_descricao": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "regi_pjur_pess_oras_codigo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "regiao": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/RegiaoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/regioes/{id}": {
            "get": {
                "tags": [
                    "regioes"
                ],
                "summary": "Busca região especifica",
                "description": "Busca dados de uma região",
                "operationId": "buscaUmaRegião",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca da região",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna região especifica",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "regioes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/RegioesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "regioes"
                ],
                "summary": "Edita região no banco",
                "description": "Edita Região no Banco",
                "operationId": "editaUmaRegião",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da região que deseja fazer edição",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar região",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "regi_descricao": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "regiao": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/RegiaoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "regioes"
                ],
                "summary": "Exclui região no banco",
                "description": "Exclui Região no Banco",
                "operationId": "excluiUmaRegião",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da região que deseja excluir",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/statusAlvos": {
            "get": {
                "tags": [
                    "alvos_status"
                ],
                "summary": "Listagem de Status dos alvos",
                "description": "Listagem de Status dos alvos",
                "operationId": "listagemStatusAlvos",
                "responses": {
                    "200": {
                        "description": "Retorna array com status dos alvos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "statusAlvos": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ReferenciaResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ClienteRespById": {
                "title": "ClienteRespById",
                "properties": {
                    "codigo": {
                        "description": "Código do cliente",
                        "type": "integer"
                    },
                    "documento": {
                        "description": "CPF ou CNPJ do cliente",
                        "type": "string"
                    },
                    "razao_social": {
                        "description": "Razão social do Cliente",
                        "type": "integer"
                    },
                    "pjur_codigo": {
                        "description": "Código cliente no trafegus",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "EnderecosRegioesResp": {
                "title": "EnderecosRegioesResp",
                "properties": {
                    "codigo": {
                        "description": "Código do endereço região",
                        "type": "integer"
                    },
                    "descricao": {
                        "description": "Descrição endereço região",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CidadeResp": {
                "title": "CidadeResp",
                "properties": {
                    "codigo": {
                        "description": "Código da cidade",
                        "type": "integer"
                    },
                    "descricao": {
                        "description": "Descrição da cidade",
                        "type": "string"
                    },
                    "latitude": {
                        "description": "Latitude da cidade",
                        "type": "string"
                    },
                    "longitude": {
                        "description": "Longitude da cidade",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "EnderecoResp": {
                "title": "EnderecoResp",
                "properties": {
                    "endereco_codigo": {
                        "description": "Código da endereço",
                        "type": "integer"
                    },
                    "endereco_abreviacao": {
                        "description": "Abreviação do endereço",
                        "type": "string"
                    },
                    "endereco_descricao": {
                        "description": "Descricao do endereço",
                        "type": "string"
                    },
                    "bairro_codigo": {
                        "description": "Código da bairro",
                        "type": "integer"
                    },
                    "bairro_descricao": {
                        "description": "Descrição do bairro",
                        "type": "string"
                    },
                    "cidade_codigo": {
                        "description": "Código da cidade",
                        "type": "integer"
                    },
                    "cidade_descricao": {
                        "description": "Descrição da cidade",
                        "type": "string"
                    },
                    "cidade_ibge": {
                        "description": "Ibge da cidade",
                        "type": "integer"
                    },
                    "estado_codigo": {
                        "description": "Código da estado",
                        "type": "integer"
                    },
                    "estado_descricao": {
                        "description": "Descrição da estado",
                        "type": "string"
                    },
                    "pais_codigo": {
                        "description": "Código do país",
                        "type": "integer"
                    },
                    "pais_descricao": {
                        "description": "Descrição do país",
                        "type": "string"
                    },
                    "pais_abreviacao": {
                        "description": "Abreviação do país",
                        "type": "string"
                    },
                    "cep_codigo": {
                        "description": "Código do CEP",
                        "type": "string"
                    },
                    "cep_descricao": {
                        "description": "Descrição do CEP",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "EstadoResp": {
                "title": "EstadoResp",
                "properties": {
                    "codigo": {
                        "description": "Código do estado",
                        "type": "integer"
                    },
                    "sigla": {
                        "description": "Sigla do estado",
                        "type": "string"
                    },
                    "descricao": {
                        "description": "Descrição do estado",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RegioesResp": {
                "title": "RegioesResp",
                "properties": {
                    "codigo": {
                        "description": "Código do cliente",
                        "type": "integer"
                    },
                    "descricao": {
                        "description": "Descrição de Região",
                        "type": "string"
                    },
                    "pjur_codigo": {
                        "description": "Codigo de cliente no trafegus",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ReferenciaResp": {
                "title": "ReferenciaResp",
                "description": "Model de Refencia",
                "properties": {
                    "refe_codigo": {
                        "type": "integer"
                    },
                    "refe_descricao": {
                        "type": "string"
                    },
                    "refe_endereco_empresa_terceiro": {
                        "type": "string"
                    },
                    "refe_bairro_empresa_terceiro": {
                        "type": "string"
                    },
                    "refe_inativo": {
                        "type": "string"
                    },
                    "refe_band_codigo": {
                        "type": "integer"
                    },
                    "refe_regi_codigo": {
                        "type": "integer"
                    },
                    "refe_numero": {
                        "type": "integer"
                    },
                    "refe_cep": {
                        "type": "string"
                    },
                    "refe_latitude_min": {
                        "type": "number"
                    },
                    "refe_latitude_max": {
                        "type": "number"
                    },
                    "refe_longitude_min": {
                        "type": "number"
                    },
                    "refe_longitude_max": {
                        "type": "number"
                    },
                    "refe_data_alteracao": {
                        "type": "string"
                    },
                    "refe_esta_codigo": {
                        "type": "integer"
                    },
                    "refe_tempo_alvo": {
                        "type": "integer"
                    },
                    "refe_poligono": {
                        "type": "string"
                    },
                    "refe_telefone": {
                        "type": "string"
                    },
                    "refe_email": {
                        "type": "string"
                    },
                    "refe_depara": {
                        "type": "string"
                    },
                    "refe_permanente": {
                        "type": "integer"
                    },
                    "refe_critico": {
                        "type": "integer"
                    },
                    "refe_tloc_codigo": {
                        "type": "integer"
                    },
                    "refe_circulo": {
                        "type": "integer"
                    },
                    "refe_latitude_min_logistico": {
                        "type": "number"
                    },
                    "refe_latitude_max_logistico": {
                        "type": "number"
                    },
                    "refe_longitude_min_logistico": {
                        "type": "number"
                    },
                    "refe_longitude_max_logistico": {
                        "type": "number"
                    },
                    "refe_poligono_logistico": {
                        "type": "string"
                    },
                    "refe_raio_logistico": {
                        "type": "number"
                    },
                    "refe_descricao_propaganda": {
                        "type": "string"
                    },
                    "refe_notificacao_cadastro_sm": {
                        "type": "integer"
                    },
                    "refe_latitude": {
                        "type": "number"
                    },
                    "refe_longitude": {
                        "type": "number"
                    },
                    "refe_cref_codigo": {
                        "type": "integer"
                    },
                    "refe_pess_oras_codigo_local": {
                        "type": "integer"
                    },
                    "refe_raio": {
                        "type": "number"
                    },
                    "refe_km": {
                        "type": "string"
                    },
                    "refe_bandeira": {
                        "type": "string"
                    },
                    "refe_utilizado_sistema": {
                        "type": "string"
                    },
                    "refe_data_cadastro": {
                        "type": "string"
                    },
                    "refe_codigo_gr": {
                        "type": "integer"
                    },
                    "refe_importado": {
                        "type": "string"
                    },
                    "refe_pess_oras_codigo_dono": {
                        "type": "integer"
                    },
                    "refe_cida_codigo": {
                        "type": "integer"
                    },
                    "refe_usuario_adicionou": {
                        "type": "string"
                    },
                    "refe_usuario_alterou": {
                        "type": "string"
                    },
                    "refe_empresa_terceiro": {
                        "type": "string"
                    },
                    "refe_cnpj_empresa_terceiro": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RegiaoResp": {
                "title": "RegiaoResp",
                "description": "Model de Regiões",
                "properties": {
                    "regi_codigo": {
                        "type": "integer"
                    },
                    "regi_descricao": {
                        "type": "string"
                    },
                    "regi_pjur_pess_oras_codigo": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "paging": {
                "title": "Paging",
                "description": "Paging",
                "properties": {
                    "finder": {
                        "type": "string"
                    },
                    "page": {
                        "type": "integer"
                    },
                    "current": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "perPage": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    },
                    "end": {
                        "type": "integer"
                    },
                    "prevPage": {
                        "type": "boolean"
                    },
                    "nextPage": {
                        "type": "boolean"
                    },
                    "pageCount": {
                        "type": "integer"
                    },
                    "sort": {
                        "type": "string"
                    },
                    "direction": {
                        "type": "string"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "sortDefault": {
                        "type": "boolean"
                    },
                    "directionDefault": {
                        "type": "boolean"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "completeSort": {
                        "type": "array",
                        "items": {}
                    }
                },
                "type": "object"
            },
            "badRequest": {
                "title": "BadRequest | StatusCode 400",
                "description": "BadRequest",
                "properties": {
                    "data": {
                        "type": "object"
                    },
                    "message": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "notFound": {
                "title": "NotFound | StatusCode 404",
                "description": "NotFound",
                "properties": {
                    "data": {
                        "type": "object"
                    },
                    "message": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "internalError": {
                "title": "InternalError | StatusCode 500",
                "description": "InternalError",
                "properties": {
                    "data": {
                        "type": "object"
                    },
                    "message": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "unhautorized": {
                "title": "Unhautorized | StatusCode 401",
                "description": "Unhautorized",
                "properties": {
                    "data": {
                        "type": "object"
                    },
                    "message": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
        },
        "parameters": {
            "page": {
                "name": "page",
                "in": "query",
                "description": "Página a ser buscada",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "sort": {
                "name": "sort",
                "in": "query",
                "description": "Campo a ser ordenado",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string"
                }
            },
            "direction": {
                "name": "direction",
                "in": "query",
                "description": "Direção a ser ordenado",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string"
                }
            },
            "limit": {
                "name": "limit",
                "in": "query",
                "description": "Quantidade de resgistros a ser retornado",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo": {
                "name": "codigo",
                "in": "query",
                "description": "Código do cliente para busca",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_documento": {
                "name": "codigo_documento",
                "in": "query",
                "description": "Código do documento (CPF ou CPNJ)",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string",
                    "maxLength": 18
                }
            },
            "ClientesReq_razao_social": {
                "name": "razao_social",
                "in": "query",
                "description": "Nome da razão social",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string",
                    "maxLength": 255
                }
            },
            "ClientesReq_inscricao_estadual": {
                "name": "inscricao_estadual",
                "in": "query",
                "description": "Incrição estadual",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string",
                    "maxLength": 20
                }
            },
            "ClientesReq_ativo": {
                "name": "ativo",
                "in": "query",
                "description": "Buscar por ativo ou inativo",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer",
                    "maxLength": 1
                }
            },
            "ClientesReq_codigo_cliente_tipo": {
                "name": "codigo_cliente_tipo",
                "in": "query",
                "description": "Código do tipo cliente",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_ultima_atualizacao": {
                "name": "ultima_atualizacao",
                "in": "query",
                "description": "Data da ultima atualização",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "string",
                    "maxLength": 10
                }
            },
            "ClientesReq_codigo_gestor": {
                "name": "codigo_gestor",
                "in": "query",
                "description": "Código do gestor",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_gestor_npe": {
                "name": "codigo_gestor_npe",
                "in": "query",
                "description": "Código do gestor NPE",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_cliente_sub_tipo": {
                "name": "codigo_cliente_sub_tipo",
                "in": "query",
                "description": "Código subtipo cliente",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_corretora": {
                "name": "codigo_corretora",
                "in": "query",
                "description": "Código corretora",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_seguradora": {
                "name": "codigo_seguradora",
                "in": "query",
                "description": "Código seguradora",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_codigo_endereco_regiao": {
                "name": "codigo_endereco_regiao",
                "in": "query",
                "description": "Código endereço região",
                "required": false,
                "explode": true,
                "schema": {
                    "type": "integer"
                }
            },
            "ClientesReq_filterbyid": {
                "name": "id",
[...]
