{
    "openapi": "3.0.0",
    "info": {
        "title": "Pessoas - API V3",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://tstapi.buonny.com.br/api/v3/",
            "description": "Homologação"
        },
        {
            "url": "http://localhost:8088/api/v3/",
            "description": "Local"
        },
        {
            "url": "https://buonny-mock-api-v3.herokuapp.com/",
            "description": "Mock Server"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Cria Token para transitar api",
                "description": "Cria Token para transitar api",
                "operationId": "criaToken",
                "requestBody": {
                    "description": "Dados para gerar token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clientes": {
            "get": {
                "tags": [
                    "clientes"
                ],
                "summary": "Buscar clientes",
                "description": "Buscar clientes para listagem",
                "operationId": "BuscaClientes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_documento"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_razao_social"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_inscricao_estadual"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_ativo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_cliente_tipo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_ultima_atualizacao"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_gestor"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_gestor_npe"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_cliente_sub_tipo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_corretora"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_seguradora"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_endereco_regiao"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cliente": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/clientes/{id}": {
            "get": {
                "tags": [
                    "clientes"
                ],
                "summary": "Buscar clientes",
                "description": "Buscar clientes para listagem",
                "operationId": "BuscaClienteById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesReq_filterbyid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna cliente especifico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cliente": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ClienteRespById"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/subtipos_clientes": {
            "get": {
                "tags": [
                    "clientes"
                ],
                "summary": "Buscar subtipos de clientes",
                "description": "Buscar subtipos de clientes para listagem",
                "operationId": "BuscaSubtiposClientes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesSubtiposReq_codigo_tipo_cliente"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com subtipos de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "subtipos_clientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesSubtiposResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/tipos_clientes": {
            "get": {
                "tags": [
                    "clientes"
                ],
                "summary": "Buscar tipos de clientes",
                "description": "Buscar tipos de clientes para listagem",
                "operationId": "BuscaClientesTipos",
                "responses": {
                    "200": {
                        "description": "Retorna array com os tipos de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "tipos_clientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesTiposResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/status_clientes": {
            "get": {
                "tags": [
                    "clientes"
                ],
                "summary": "Listagem de Status dos clientes",
                "description": "Listagem de Status dos clientes",
                "operationId": "listagemStatusClientes",
                "responses": {
                    "200": {
                        "description": "Retorna array com status dos clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "statusClientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/StatusCliente"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/cnaes": {
            "get": {
                "tags": [
                    "cnaes"
                ],
                "summary": "Busca de cnae",
                "description": "Busca cnae para listagem",
                "operationId": "buscaCnae",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CnaeReq_cnae"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com cnae",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cnae": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CnaeResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/corretoras": {
            "get": {
                "tags": [
                    "corretoras"
                ],
                "summary": "Buscar corretoras",
                "description": "Buscar corretoras para listagem",
                "operationId": "BuscaCorretoras",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CorretorasReq_nome_corretora"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com corretoras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "corretora": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CorretorasResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/embarcadores_transportadores": {
            "get": {
                "tags": [
                    "embarcadores_transportadores"
                ],
                "summary": "Busca de Embarcadores e Transportadores",
                "description": "Busca Embarcadores e Transportadores para listagem",
                "operationId": "BuscaTodosEmbarcadoresTransportadores",
                "parameters": [
                    {
                        "name": "codigo_cliente",
                        "in": "query",
                        "description": "Código do cliente para busca de embarcadores e transportadores",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "codigo_documento",
                        "in": "query",
                        "description": "CNPJ ou CPF para busca de embarcadores e transportadores",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 18
                        }
                    },
                    {
                        "name": "razao_social",
                        "in": "query",
                        "description": "Razão social para busca de embarcadores e transportadores",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com embarcadores e transportadores",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "embarcadores_transportadores": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EmbarcadoresTransportadoresResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/embarcadores_transportadores/{id}": {
            "delete": {
                "tags": [
                    "embarcadores_transportadores"
                ],
                "summary": "Exclui o vínculo embarcador transportador no banco",
                "description": "Exclui o vínculo no Banco",
                "operationId": "excluiEmbarcadorTransportador",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/EmbarcadoresTransportadoresDeleteReq_id"
                    },
                    {
                        "$ref": "#/components/parameters/EmbarcadoresTransportadoresDeleteReq_codigo_cliente"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/embarcadores_transportadores_contato": {
            "get": {
                "tags": [
                    "embarcadores_transportadores_contato"
                ],
                "summary": "Busca a lista de Contatos",
                "description": "Busca a lista de Contatos",
                "operationId": "viewEmbarcadoresTransportadoresContato",
                "responses": {
                    "200": {
                        "description": "Retorna array com Contatos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "embarcadoresTransportadoresContato": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EmbarcadoresTransportadoresContatoViewResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/embarcadores_transportadores_contato/{id}": {
            "put": {
                "tags": [
                    "embarcadores_transportadores_contato"
                ],
                "summary": "Atualiza a lista de contatos",
                "description": "Atualiza a lista de contatos",
                "operationId": "editEmbarcadoresTransportadoresContato",
                "requestBody": {
                    "description": "Lista de contatos para salvar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/EmbarcadoresTransportadoresContatoEditReq"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/gestores": {
            "get": {
                "tags": [
                    "gestores"
                ],
                "summary": "Buscar gestores",
                "description": "Buscar gestores listagem",
                "operationId": "BuscaGestor",
                "responses": {
                    "200": {
                        "description": "Retorna array com gestores",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "gestores": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GestoresResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/gestores_npe": {
            "get": {
                "tags": [
                    "gestores_npe"
                ],
                "summary": "Buscar gestores",
                "description": "Buscar gestores npe listagem",
                "operationId": "BuscaGestorNPE",
                "responses": {
                    "200": {
                        "description": "Retorna array com gestores NPE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "gestores_npe": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GestoresNpeResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores": {
            "get": {
                "tags": [
                    "prestadores"
                ],
                "summary": "Busca Prestadores",
                "description": "Busca prestadores para listagem",
                "operationId": "buscaTodosPrestadores",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PrestadoresReq_documento"
                    },
                    {
                        "$ref": "#/components/parameters/PrestadoresReq_razao_social"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com prestadores",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadores": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "prestadores"
                ],
                "summary": "Salva prestador no banco",
                "description": "Salva prestador no banco",
                "operationId": "salvaPrestador",
                "requestBody": {
                    "description": "Dados para salvar prestador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "$ref": "#/components/schemas/PrestadoresAddReq"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/PrestadoresResp"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores/{id}": {
            "get": {
                "tags": [
                    "prestadores"
                ],
                "summary": "Busca prestador específico",
                "description": "Busca dados de um prestador",
                "operationId": "buscaUmPrestador",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para pesquisa de prestador",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna prestador especifico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestador": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresRespById"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "prestadores"
                ],
                "summary": "Edita prestadores no banco",
                "description": "Edita prestadores no Banco",
                "operationId": "editaPrestador",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PrestadoresEditReq_id"
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar um prestadores",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "$ref": "#/components/schemas/PrestadoresReqEdit"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Atualizado com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/PrestadoresRespById"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "prestadores"
                ],
                "summary": "Exclui prestador no banco",
                "description": "Exclui prestador no Banco",
                "operationId": "excluiPrestador",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de prestador",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores_contato": {
            "get": {
                "tags": [
                    "prestadores_contatos"
                ],
                "summary": "Busca prestadores contato",
                "description": "Busca prestadores contato para listagem",
                "operationId": "buscaPrestadoresContato",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PrestadoresContatoReq_codigo_prestador"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com prestadores contato",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresContato": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresContatoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "prestadores_contatos"
                ],
                "summary": "Salva um prestador contato no banco",
                "description": "Salva prestador contato no Banco",
                "operationId": "salvaUmContatoPrestador",
                "requestBody": {
                    "description": "Dados para salvar um contato de prestador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PrestadoresContatoReqAdd"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresContato": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresContatoRespAdd"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores_contato/{id}": {
            "get": {
                "tags": [
                    "prestadores_contatos"
                ],
                "summary": "Busca um contato de prestador especifico",
                "description": "Busca dados de um contato de prestador",
                "operationId": "buscaUmPrestadorContato",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca do contato de prestador",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna um contato de prestador especifico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresContato": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresContatoRespById"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "prestadores_contatos"
                ],
                "summary": "Edita um contato de prestador no banco",
                "description": "Edita um contato de prestador no Banco",
                "operationId": "editaUmContatoPrestador",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do contato que deseja fazer edição",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar o contato de prestador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "$ref": "#/components/schemas/PrestadoresContatoReqAdd"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresEndereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresContatoRespById"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "prestadores_contatos"
                ],
                "summary": "Exclui um prestador contato no banco",
                "description": "Exclui um prestador contato no Banco",
                "operationId": "excluiUmPrestadorContato",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da contato que deseja excluir",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores_endereco": {
            "get": {
                "tags": [
                    "prestadores_enderecos"
                ],
                "summary": "Busca prestadores endereco",
                "description": "Busca prestadores endereco para listagem",
                "operationId": "buscaPrestadoresEndereco",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PrestadoresEnderecoReq_prestador"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com prestadores endereco",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresEndereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresEnderecoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "prestadores_enderecos"
                ],
                "summary": "Salva um prestador endereco no banco",
                "description": "Salva prestadores endereco no Banco",
                "operationId": "salvaUmEnderecoPrestador",
                "requestBody": {
                    "description": "Dados para salvar um endereço de prestador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "$ref": "#/components/schemas/PrestadoresEnderecoReqAdd"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresEndereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresEnderecoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/prestadores_endereco/{id}": {
            "get": {
                "tags": [
                    "prestadores_enderecos"
                ],
                "summary": "Busca um endereco de prestador especifico",
                "description": "Busca dados de um endereco de prestador",
                "operationId": "buscaUmPrestadorEndereco",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca do endereco de prestador",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna um endereco de prestador especifico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresEndereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresEnderecoRespById"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "prestadores_enderecos"
                ],
                "summary": "Edita um endereco de prestador no banco",
                "description": "Edita um endereco de prestador no Banco",
                "operationId": "editaUmEnderecoPrestador",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do endereco que deseja fazer edição",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar o endereco de prestador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "$ref": "#/components/schemas/PrestadoresEnderecoReqAdd"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "prestadoresEndereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PrestadoresEnderecoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "prestadores_enderecos"
                ],
                "summary": "Exclui um prestador endereco no banco",
                "description": "Exclui um prestador endereco no Banco",
                "operationId": "excluiUmPrestadorEnderecoo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da prestador endereco que deseja excluir",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/reguladores": {
            "get": {
                "tags": [
                    "reguladores"
                ],
                "summary": "Busca Reguladores",
                "description": "Busca reguladores para listagem",
                "operationId": "buscaTodosReguladores",
[...]
