{
    "openapi": "3.0.0",
    "info": {
        "title": "Buonny Api V3",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://tstapi.buonny.com.br/api/v3/",
            "description": "Homologação"
        },
        {
            "url": "http://localhost:8088/api/v3/",
            "description": "Local"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "pessoas/usuarios/auth"
                ],
                "summary": "Cria Token para transitar api",
                "description": "Cria Token para transitar api",
                "operationId": "criaToken",
                "requestBody": {
                    "description": "Dados para gerar token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clientes": {
            "get": {
                "tags": [
                    "pessoas/clientes"
                ],
                "summary": "Buscar clientes",
                "description": "Buscar clientes para listagem",
                "operationId": "BuscaClientes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_documento"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_razao_social"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_inscricao_estadual"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_ativo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_cliente_tipo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_ultima_atualizacao"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_gestor"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_gestor_npe"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_cliente_sub_tipo"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_corretora"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_seguradora"
                    },
                    {
                        "$ref": "#/components/parameters/ClientesReq_codigo_endereco_regiao"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cliente": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/clientes/{id}": {
            "get": {
                "tags": [
                    "pessoas/clientes"
                ],
                "summary": "Buscar clientes",
                "description": "Buscar clientes para listagem",
                "operationId": "BuscaClienteById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesReq_filterbyid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna cliente especifico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cliente": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ClienteRespById"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/subtipos_clientes": {
            "get": {
                "tags": [
                    "pessoas/clientes"
                ],
                "summary": "Buscar subtipos de clientes",
                "description": "Buscar subtipos de clientes para listagem",
                "operationId": "BuscaSubtiposClientes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ClientesSubtiposReq_codigo_tipo_cliente"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com subtipos de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "subtipos_clientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesSubtiposResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/tipos_clientes": {
            "get": {
                "tags": [
                    "pessoas/clientes"
                ],
                "summary": "Buscar tipos de clientes",
                "description": "Buscar tipos de clientes para listagem",
                "operationId": "BuscaClientesTipos",
                "responses": {
                    "200": {
                        "description": "Retorna array com os tipos de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "tipos_clientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClientesTiposResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/corretoras": {
            "get": {
                "tags": [
                    "pessoas/corretoras"
                ],
                "summary": "Buscar corretoras",
                "description": "Buscar corretoras para listagem",
                "operationId": "BuscaCorretoras",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CorretorasReq_nome_corretora"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com corretoras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "corretora": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CorretorasResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/endereco_regiao": {
            "get": {
                "tags": [
                    "locais/enderecoRegiao"
                ],
                "summary": "Buscar endereço região",
                "description": "Buscar endereço região para listagem",
                "operationId": "BuscaEnderecoRegiao",
                "responses": {
                    "200": {
                        "description": "Retorna array com endereço região",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "endereco_regiao": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EnderecosRegioesResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/gestores": {
            "get": {
                "tags": [
                    "pessoas/Gestores"
                ],
                "summary": "Buscar gestores",
                "description": "Buscar gestores listagem",
                "operationId": "BuscaGestor",
                "responses": {
                    "200": {
                        "description": "Retorna array com gestores",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "gestores": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GestoresResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/gestores_npe": {
            "get": {
                "tags": [
                    "pessoas/GestoresNPE"
                ],
                "summary": "Buscar gestores",
                "description": "Buscar gestores npe listagem",
                "operationId": "BuscaGestorNPE",
                "responses": {
                    "200": {
                        "description": "Retorna array com gestores NPE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "gestores_npe": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GestoresNpeResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/seguradoras": {
            "get": {
                "tags": [
                    "pessoas/Seguradoras"
                ],
                "summary": "Buscar seguradoras",
                "description": "Buscar seguradoras para listagem",
                "operationId": "BuscaSeguradoras",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com seguradoras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "seguradora": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/SeguradorasResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/status_clientes": {
            "get": {
                "tags": [
                    "pessoas/clientes"
                ],
                "summary": "Listagem de Status dos clientes",
                "description": "Listagem de Status dos clientes",
                "operationId": "listagemStatusClientes",
                "responses": {
                    "200": {
                        "description": "Retorna array com status dos clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "statusClientes": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/StatusCliente"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/container/motivo_inativacao_container": {
            "get": {
                "tags": [
                    "container/MoicMotivoInativacaoContainer"
                ],
                "summary": "Busca Motivos de Inativação de Container",
                "description": "Busca Motivos dos Inativação de Container para listagem",
                "operationId": "buscaTodosMotivosInativacaoContainer",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MoicInativacaoContainer_codigo"
                    },
                    {
                        "$ref": "#/components/parameters/MoicInativacaoContainer_descricao"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/direction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com os motivos de inativação de container",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "motivos_inativacao_container": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MoicMotivoInativacaoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "container/MoicMotivoInativacaoContainer"
                ],
                "summary": "Salva um motivo de inativação de container no banco",
                "description": "Salva um motivo de inativação de container no banco",
                "operationId": "salvaUmMotivoInativacaoContainer",
                "requestBody": {
                    "description": "Dados para salvar motivo de inativação de container",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "moic_descricao": {
                                        "type": "string"
                                    },
                                    "moic_pjur_pess_oras_codigo": {
                                        "type": "integer"
                                    },
                                    "moic_inativo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "motivo_inativacao_container": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MoicMotivoInativacaoContainer"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/container/motivo_inativacao_container/{id}": {
            "get": {
                "tags": [
                    "container/MoicMotivoInativacaoContainer"
                ],
                "summary": "Busca motivo de inativacao de container especifico",
                "description": "Busca dados de um motivo de inativacao de container",
                "operationId": "buscaUmMotivoInativacaoContainer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca do motivo de inativação de container",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna motivo de inativação de container específico",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "motivo_inativacao_container": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MoicMotivoInativacaoContainer"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "container/MoicMotivoInativacaoContainer"
                ],
                "summary": "Edita motivo de inativação de container no banco",
                "description": "Edita motivo de inativação de container no banco",
                "operationId": "editaUmMotivoInativacaoContainer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do motivo que deseja editar",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar região",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "moic_descricao": {
                                        "type": "string"
                                    },
                                    "moic_inativo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "motivo_inativacao_container": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MoicMotivoInativacaoContainer"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/enderecos/geolocalizacao/busca_xy": {
            "post": {
                "tags": [
                    "locais/enderecos"
                ],
                "summary": "Recupera a Latitude / Longitude de um determinado endereço",
                "description": "Recupera a Latitude e Longitude de um determinado endereço",
                "operationId": "GeolocalizacaoBuscaXY",
                "requestBody": {
                    "description": "Dados do endereço a ser pesquisado",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "endereco": {
                                        "type": "string"
                                    },
                                    "numero": {
                                        "type": "string"
                                    },
                                    "bairro": {
                                        "type": "string"
                                    },
                                    "cep": {
                                        "type": "string"
                                    },
                                    "cidade": {
                                        "properties": {
                                            "nome": {
                                                "type": "string"
                                            },
                                            "estado": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retorna array com posição do endereço",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "getXYResult": {
                                                    "properties": {
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/enderecos/{id}": {
            "get": {
                "tags": [
                    "locais/enderecos"
                ],
                "summary": "Recupera a Latitude / Longitude de um determinado endereço por codigo",
                "description": "Recupera a Latitude e Longitude de um determinado endereço codigo",
                "operationId": "EnderecoBuscaXY",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do Endereço para Busca",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com posição do endereço",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "getXYResult": {
                                                    "properties": {
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/bandeiras": {
            "get": {
                "tags": [
                    "locais/bandeiras"
                ],
                "summary": "Busca bandeiras",
                "description": "Busca bandeiras para listagem",
                "operationId": "buscaTodasBandeiras",
                "parameters": [
                    {
                        "name": "codigo_cliente",
                        "in": "query",
                        "description": "Código cliente para busca de bandeiras",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "band_descricao",
                        "in": "query",
                        "description": "Descrição para busca de bandeiras",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página a buscar",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com bandeiras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeiras": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                },
                                                "cliente": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/pjurPessJuridica"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "locais/bandeiras"
                ],
                "summary": "Salva bandeira no banco",
                "description": "Salva bandeira no Banco",
                "operationId": "salvaUmabandeira",
                "requestBody": {
                    "description": "Dados para salvar bandeira",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "band_descricao": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "band_pjur_pess_oras_codigo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/bandeiras/{id}": {
            "get": {
                "tags": [
                    "locais/bandeiras"
                ],
                "summary": "Busca bandeira especifica",
                "description": "Busca dados de uma bandeira",
                "operationId": "buscaUmaBandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id para busca da região",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna região especifica",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                },
                                                "cliente": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/pjurPessJuridica"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "locais/bandeiras"
                ],
                "summary": "Edita bandeira no banco",
                "description": "Edita bandeira no Banco",
                "operationId": "editaUmabandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da bandeira que deseja fazer edição",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar bandeira",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "band_descricao": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Salvo com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "bandeira": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/bandeira"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "locais/bandeiras"
                ],
                "summary": "Exclui bandeira no banco",
                "description": "Exclui bandeira no Banco",
                "operationId": "excluiUmaBandeira",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da bandeira que deseja excluir",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Excluido com sucesso!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/cidade": {
            "get": {
                "tags": [
                    "locais/cidades"
                ],
                "summary": "Busca de Cidades",
                "description": "Busca Cidades para listagem",
                "operationId": "buscaCidade",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CidadeReq_esta_codigo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com Cidades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "cidade": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CidadeResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/endereco": {
            "get": {
                "tags": [
                    "locais/enderecos"
                ],
                "summary": "Busca de Enderecos por Cep",
                "description": "Busca Enderecos para listagem",
                "operationId": "buscaEndereco",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/EnderecoReq_cep"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com enderecos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "endereco": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EnderecoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "NotFound, erro de autorização",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/unhautorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/estado": {
            "get": {
                "tags": [
                    "locais/estados"
                ],
                "summary": "Busca de Estados",
                "description": "Busca Estados para listagem",
                "operationId": "buscaEstado",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/EstadoReq_pais_codigo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com Estados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "estado": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EstadoResp"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/referencia": {
            "get": {
                "tags": [
                    "locais/alvos"
                ],
                "summary": "Busca de Referencia",
                "description": "Busca referencias para listagem",
                "operationId": "BuscaTodasReferencias",
                "parameters": [
                    {
                        "name": "codigo_cliente",
                        "in": "query",
                        "description": "Código cliente para busca de motivos atraso",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página a buscar",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna array com referencias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/referencia"
                                                    }
                                                },
                                                "cliente": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/pjurPessJuridica"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        },
                                        "paging": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/paging"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "locais/alvos"
                ],
                "summary": "Inclusão de uma referencia",
                "description": "Inclusão de uma referencia",
                "operationId": "inclusaoUmaReferencia",
                "requestBody": {
                    "description": "Dados para salvar uma referencia",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refe_descricao": {
                                        "type": "string"
                                    },
                                    "codigo_cliente": {
                                        "type": "integer"
                                    },
                                    "refe_esta_codigo": {
                                        "type": "integer"
                                    },
                                    "refe_cida_codigo": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/referencia"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalError, erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/internalError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            }
        },
        "/locais/referencia/{id}": {
            "get": {
                "tags": [
                    "locais/alvos"
                ],
                "summary": "Busca de uma referencia específica",
                "description": "Busca de uma referencia específica",
                "operationId": "buscaUmaReferencia",
                "parameters": [
                    {
                        "name": "refe_codigo",
                        "in": "query",
                        "description": "Código da referencia",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/referencia"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/notFound"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AutorizaBuonnyV3": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "locais/alvos"
                ],
                "summary": "Edita uma referencia",
                "description": "Edita uma referencia",
                "operationId": "editaUmaReferencia",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da referencia que vai ser editada",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados para editar a referencia",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refe_descricao": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Saved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "referencia": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/referencia"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest, erro de requisição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/badRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound, erro de busca",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
[...]
