extends layout
block head
  link(rel='stylesheet', href='/stylesheets/zoom2.css')

block content
 div(class='container')
  div(class='row')
    div(class='col-sm meao-container')
      div(class='row')
        div(class='col-sm-4') asdf
        div(class='col-sm-4') asdf2
        div(id='div' class='col-sm-4 div-zoom ') teste
      div(class='row')
        div(class='col-sm') asdf
        div(class='col-sm') asdf
        div(class='col-sm') asdf
    div(class='col-sm')
      One of three columns    
    div(class='col-sm')
      One of three columns          

  script(src='/javascripts/zoom2.js')