extends layout
block head
  link(rel='stylesheet', href='/stylesheets/zoom2.css')

block content
 div(class='container')
  div(class='row h-100vh')
    div(class='col-sm my-auto meao-container')
      div(class='row h-100vh')
        div(class='col-sm my-auto') 
          div(class="meao-content") América do Norte

    div(class='col-sm my-auto meao-container')
      div(class='row h-100vh')
        div(class='col-sm my-auto') 
          div(class="meao-content")  
            a(href="dash-ame-sul") América do Sul

    div(class='col-sm my-auto meao-container')
      div(class='row h-100vh')
        div(class='col-sm my-auto') 
          div(class="meao-content") Europa      

    div(class='col-sm my-auto meao-container')
      div(class='row h-100vh')
        div(class='col-sm my-auto') 
          div(class="meao-content")  Ásia

  script(src='/javascripts/zoom2.js')